<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>To Do List App + Vue.js </title>
  <script type="text/javascript" src="https://unpkg.com/vue@2.4.2"></script>
</head>
<style>
  .done{
    text-decoration: line-through;
  }
</style>
<body>


<div id="app">
  <h1>{{message}} <span v-if="editing">Editing : {{updatedValue}}</span></h1>
  <form>
    <input type="text" v-model="todos.task"><button v-on:click.prevent="addTodo">Add Task</button>
    <button v-if="editing" v-on:click.prevent="saveTodo">Save Task</button>
  </form>

  <div class="todo-listings">
    <ul>
      <li v-for="todo in todos" :key="todo.id">
        <span v-bind:class="todo.status">{{todo.task}}</span>
        <a href="#" @click="doneTodo">Mark as done</a>
        <a href="#" @click="removeTodo(todo.id)">Delete</a>
        <a href="#" @click="editTodo(todo)">Edit</a>
      </li>
    </ul>
  </div>
</div>

<script type="text/javascript">

var app = new Vue({
  el: '#app',
  data: function() {
    return {
      id:'',
      todos:[],
      message: 'Todo App!',
      updatedValue: '',
      editing: false
    }

  },
  mounted: function () {
    this.fetchdata();
    // this.todos = todosItem
  },
  methods:{
    fetchdata: function(){
      var dataString = window.localStorage.getItem('testudo' || '[]');
      var todosItem;
      if(dataString) {
          todosItem = JSON.parse(dataString);
          this.todos = todosItem
      }
    },
    addTodo: function(){
      console.log(this.todos.task);
      let uid = 0
      if(!this.todos.task){
        alert('Add todo list');
        return false;
      } else {
        this.todos.push({
          id: uid+((1 + Math.random()) * 0x10000),
          task: this.todos.task,
          status: "doit",
          editing: false,
        });
        var a = this.todos;
        window.localStorage.setItem('testudo', JSON.stringify(a));
        this.todos.task='';
      }

    },
    removeTodo: function(d){
      // alert('delete');
      let data = JSON.parse(window.localStorage.getItem('testudo'));
      for(var i = 0; i < data.length; i++ ) {
        if(data[i].id == d){
          console.log(data[i].task);
          data.splice(i,1);
        };
      }
      window.localStorage.setItem('testudo', JSON.stringify(data));
      this.fetchdata();

    },
    doneTodo: function(){
      alert('done');
    },
    editTodo: function(d){
      // console.log(data.task);
      let data = this.todos;
      // console.log(data);
      for(var i = 0; i < data.length; i++ ) {
        if(data[i].id){
          this.todos.task = data[i].task;
          console.log(this.todos.task);
          this.updatedValue = this.todos.task;
        }
        this.editing = true;

      }
      // window.localStorage.setItem('testudo', JSON.stringify(data[i]));
      // this.fetchdata();
    },
    saveTodo: function(d) {
      let updatedTask = this.todos.task;
      for(var i = 0; i < updatedTask.length; i++ ) {
        if(updatedTask[i].id == d){
          console.log(data[i].task);
        };
      }
      // window.localStorage.setItem('testudo', JSON.stringify(data));
      // this.fetchdata();
    }
  }

});
</script>

</body>
</html>
