<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>To Do List App + Vue.js</title>

  <script type="text/javascript" src="https://unpkg.com/vue@2.4.2"></script>
  <link rel="stylesheet" href="assets/css/style.css">
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

</head>
<style>
  .done{
    text-decoration: line-through;
  }
</style>
<body>
<div id="app">
  <h1 v-cloak>{{message}}</h1>
  <form v-cloak>
    <div v-if="adding">
      <input type="text" v-model="todos.task" id="todoInput">
      <button class="waves-effect waves-light btn" v-on:click.prevent="addTodo">Add Task</button>
    </div>
    <div v-if="editing">
      <input type="text" v-model="newVal" v-bind:value="newVal" id="todoInput">
      <button class="waves-effect waves-light btn" v-on:click.prevent="saveTodo">Save Task</button>
    </div>
  </form>

  <!-- <div class="todo-listings collection">
    <ul>
      <li v-for="todo in todos" :key="todo.id">
        <span v-bind:class="todo.status">{{todo.task}}</span>
        <a href="#" @click="doneTodo(todo.id)">{{todo.status}}</a>
        <a href="#" @click="removeTodo(todo.id)">Delete</a>
        <a href="#" @click="editTodo(todo.id)">Edit</a>
      </li>
    </ul>
  </div> -->

  <!-- <div class="collection">
    <div v-for="todo in todos" class="collection-item" :key="todo.id">
      <span v-bind:class="todo.status">{{todo.task}}</span>
      <a href="#" class="badge" @click="doneTodo(todo.id)">{{todo.status}}</a>
      <a href="#" class="badge" @click="removeTodo(todo.id)">Delete</a>
      <a href="#" class="badge"@click="editTodo(todo.id)">Edit</a>
    </div>
  </div> -->

  <ul class="collection">
    <li v-for="todo in todos" :key="todo.id" class="collection-item avatar">
      <a href="#" class="badge" @click="doneTodo(todo.id)">{{todo.status}}</a>
      <span v-bind:class="todo.status">{{todo.task}}</span>
      <p><a href="#" class="badge"@click="editTodo(todo.id)">Edit</a></p>
      <a href="#!" class="secondary-content" @click="removeTodo(todo.id)"><i class="material-icons">Delete</i></a>
      <!-- <a href="#" class="badge" @click="removeTodo(todo.id)">Delete</a> -->
    </li>
  </ul>


</div>

<script type="text/javascript" src="assets/js/fury.js"></script>

<script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
<script type="text/javascript" src="assets/js/bin/materialize.min.js"></script>

</body>
</html>
