<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>To Do List App + Vue.js</title>
  <script type="text/javascript" src="https://unpkg.com/vue@2.4.2"></script>
</head>
<style>
  .done{
    text-decoration: line-through;
  }
</style>
<body>


<div id="app">
  <h1>{{message}}</h1>
  <form>
    <input type="text" v-model="todos.task"><button v-on:click.prevent="addTodo">Add Task</button>
  </form>

  <div class="todo-listings">
    <ul>
      <li v-for="todo in todos" :key="todo.id">
        <span v-bind:class="todo.status">{{todo.task}}</span>
        <a href="#" @click="doneTodo">Mark as done</a>
        <a href="#" @click="removeTodo(todo.id)">Delete</a>
        <a href="#" @click="editTodo(todo)">Edit</a>
      </li>
    </ul>
  </div>
</div>

<script type="text/javascript">

var app = new Vue({
  el: '#app',
  data: function() {
    return {
      id:'',
      todos:[],
      message: 'Todo App!',
      updatedValue: ''
    }

  },
  mounted: function () {
    this.fetchdata();
    // this.todos = todosItem
  },
  methods:{
    fetchdata: function(){
      var dataString = window.localStorage.getItem('testudo' || '[]');
      var todosItem;
      if(dataString) {
          todosItem = JSON.parse(dataString);
          this.todos = todosItem
      }
    },
    addTodo: function(){
      console.log(this.todos.task);
      let uid = 0

      if(!this.todos.task){
        alert('Add todo list');
        return false;
      } else {
        this.todos.push({
          id: uid+((1 + Math.random()) * 0x10000),
          task: this.todos.task,
          status: "doit",
          editing: false,
        });
        var a = this.todos;
        window.localStorage.setItem('testudo', JSON.stringify(a));
        this.todos.task='';
      }

    },

    doneTodo: function(){
      alert('done');

    },
    removeTodo: function(d){
      // alert('delete');
      let data = JSON.parse(window.localStorage.getItem('testudo'));
      for(var i = 0; i < data.length; i++ ) {
        if(data[i].id == d){
          console.log(data[i].task);
          data.splice(i,1);
        };
      }
      window.localStorage.setItem('testudo', JSON.stringify(data));

      this.fetchdata();

    },

    editTodo: function(data){
      // console.log(data.task);
      let todos = JSON.parse(localStorage.getItem('testudo'));
      let task = todos.task;
      // console.log(task);
      // console.log(todos);
      for (var i = 0; i < todos.length; i++) {
        if(data.task === todos[i].task) {
          // console.log(todos[i].task);
          todos.task = todos[i].task;
          console.log(todos.task);
          return todos.task
        }
      }
    }
  }

});
</script>

</body>
</html>
